<h1>Books</h1>
<div class="demo-card-container">
    <md-card *ngFor="let book of books">
        <md-card-title-group>
            <md-card-title>{{book.title}}</md-card-title>
            <md-card-subtitle>by {{book.authors[0]}}</md-card-subtitle>
            <md-card-subtitle>rating {{book.averageRating}} | {{book.ratingsCount}} voters</md-card-subtitle>
            <md-card-subtitle>{{book.description}}</md-card-subtitle>
            <!--<md-card-title-media>
                <img md-media-sm src="{{book.imageUrl}}">
            </md-card-title-media>-->
            <img md-card-image md-image-media-sm src="{{book.imageUrl}}">
        </md-card-title-group>
    </md-card>
</div>
