<h1>Search</h1>
<input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
<div class="demo-card-container">
    <md-card *ngFor="let book of books | async">
        <md-card-title-group>
            <md-card-title>{{book.title}}</md-card-title>
            <!--<md-card-subtitle>by {{book.authors[0]}}</md-card-subtitle>-->
            <md-card-subtitle>rating {{book.averageRating}} | {{book.ratingsCount}} voters</md-card-subtitle>
            <md-card-subtitle>{{book.description}}</md-card-subtitle>
            <md-card-title-media>
                <img md-media-sm src="{{book.imageUrl}}">
            </md-card-title-media>
        </md-card-title-group>
    </md-card>
</div>
